<div class="d-flex container" >
  <div class="flex-shrink-0">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
  </div>
  <div class="flex-grow-1 ms-3">
    <h1><strong><%= @user.first_name.capitalize %></strong> </h1>
    <p>@<%= @user.username.downcase %></p>
    <p> ⭐️⭐️⭐️⭐️⭐️ (15) </p>
    <p> <strong> 100 </strong> Followers | <strong> 80 </strong> Following</p>
  </div>
</div>

<div class="container my-3">
  <% if @user.items.count > 0 %>
    <h3><strong>Renting</strong></h3>
      <div class="cards">
        <% @user.items.each do |item| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media-photos.depop.com/b1/5779679/1437787993_0328f0ab999143f69e88f2f5015f39c5/P0.jpg)">
          <%= item.name %> <%# would be good to have a link here to each item and also for images to not just be the link above %>
        </div>
        <% end %>
      </div>
  <% end %>
</div>

<div class="container my-5">
    <h3><strong>Confirmation</strong></h3>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Item name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Confirmed</th>
          </tr>
        </thead>
        <tbody>
          <% @rentals.each do |rental| %>
            <tr>
              <td><%= rental.item.name %></td>
              <td><%= rental.start_date %></td>
              <td><%= rental.end_date %></td>
              <td>
                <% if rental.confirmed == false  %>
                  <%= link_to "Approve", approve_rental_path(rental) %>
                <% else %>
                  <%= "Confirmed" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>


<div class ="container my-5">
  <div class="d-flex justify-content-center">
    <% if @user.rentals.count > 0 %>
      <%= link_to "Upcoming Rentals", rentals_path, class: "btn btn-outline-primary"%>
    <% end %>
  </div>
</div>








<%# div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media-photos.depop.com/b1/5779679/1437787993_0328f0ab999143f69e88f2f5015f39c5/P0.jpg)">
<%= image_tag "#{rand(1..6)}.jpg", class: "card-img-top" %>
