<div class= "row justify-content-center"> <%# Row 2 of 2 added justify-content-center%>
    <% @items.each do |item| %>
      <div class="col-12 col-md-4 mb-4"> <%# added mb-4%>
      <%# cards to take up 1/3 for medium+ devices and all space for small devices %>
        <%# div class="card h-100"%>
        <div class="card" style="width: 18rem;">
        <%= image_tag "#{rand(1..6)}.jpg", class: "card-img-top" %>
        <%# '.;img src="assets/images/homepage/1.jpg" class="card-img-top" #{rand(1..6)}%>
          <div class="card-body">
            <h5 class="card-title"><%= item["name"]%> </h5>
            <ul>
              <li>
                <p class="card-text"><%= item["price"]%></p>
              </li>
              <li>
                <p class="card-text"><%= item["category"]%></p>
              </li>
              <li>
                <p class="card-text"><%= item["brand"]%></p>
              </li>
            </ul>

            <%= link_to "See more", item_path(item), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>








<!--
- Display price in this way: £ 3.50
- Display only items that are available?
    @items[available]
    @items[available]== true
- omitting condition because the seed data has weird conditions
>
