<h1>Welcome!</h1>

<div class="container">
  <h2><%= @item.name %></h2>
  <!-- IMAGES -->
  <p><%= @item.price %></p>
  <p><%= @item.category %></p>
  <p><%= @item.brand %></p>
  <p><%= @item.available %></p>
</div>

<div class="rental inquiry">
  <h2> Submit a Rental Inquiry <h2>
  <form>
  </form>
</div>

<!-- # LINK USER PROFILE -->
<!-- # LINK TO HOME -->
<!-- # FORM FOR RENTAL -->
